
.containerError{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
@media  only screen and (max-width: 600px){
    .textError{
        font-family: 'Merriweather', serif;
        font-size: 0.7rem;
        text-align: center;
        color: #373737;
        font-weight: 300;
        word-wrap: break-word;
    }
}
@media only screen and (min-width: 600px){
    .textError{
        font-family: 'Merriweather', serif;
        font-size: 0.7rem;
        text-align: center;
        color: #373737;
        font-weight: 200;
        word-wrap: break-word;
    }
}
@media only screen and (min-width:768px){
    .textError{
        font-family: 'Merriweather', serif;
        font-size: 0.9rem;
        text-align: center;
        color: #373737;
        font-weight: 300;
        word-wrap: break-word;
    }
}
@media only screen and (min-width:992px){
    .textError{
        font-family: 'Merriweather', serif;
        font-size: 2rem;
        text-align: center;
        color: #373737;
        font-weight: 300;
        word-wrap: break-word;
    }
}


