@media  only screen and (max-width: 600px){
    .Axis path,
    .Axis line {
      /*stroke: #E0E0E0;*/
      stroke: darkslategrey;
    }
    .Axis-Bottom text {
        /* transform: rotate(-45deg);  */
        transform: rotate(-45deg); 
        text-anchor: end;
        font-weight: 500;
      }
    .Axis text {
      font-size: 6px;
      fill: darkslategrey;
      font-weight: 500;
    }
    .scatterText{
        font-size: 0.6rem;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: darkslategrey;
        font-weight: 500;
    }
    .scatterTitle{
        font-size: .55rem;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: darkslategrey;
        font-weight: 500;
    }
    .scatterPreload{
        font-family: 'Merriweather',serif;
        font-size: .5rem;
        text-align: center;
        color: darkslategrey;
        font-weight: 500;
    }
    .scattercontainerToolTip{
        border: 1px solid;
        border-color: blueviolet;
        box-shadow:1px 1px;
        margin-bottom: 1rem;
        /*width: 310px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1vw;
        background-color: #144d83;*/
    }
    .scattertoolTipText{
        font-family: 'Merriweather',serif;
        font-size: .5rem;
        text-align: justify;
        color: darkslategrey;
        word-wrap: break-word;
        font-weight: 500;
    }
    .containerScatter{
        /* background-color: #144d83; */
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;  
    }
    .scattercontainerChart{
        margin: 1 auto;
    }
}
@media only screen and (min-width: 600px){
    .Axis path,
    .Axis line {
      /*stroke: #E0E0E0;*/
      stroke: darkslategrey;
    }
    .Axis text {
      font-size: 6px;
      fill: darkslategrey;
      font-weight: 500;
    }
    .Axis-Bottom text {
        /* transform: rotate(-45deg);  */
        transform: rotate(-45deg); 
        text-anchor: end;
        font-weight: 500;
    }
    .scatterText{
        width: 90%;
        font-size: 0.65rem;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: darkslategrey;
        font-weight: 500;
        overflow-wrap: break-word;
    }
    .scatterTitle{
        font-size: .65rem;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: darkslategrey;
        font-weight: 500;
    }
    .scatterPreload{
        font-family: 'Merriweather',serif;
        font-size: .65rem;
        text-align: center;
        color: darkslategrey;
        font-weight: 500;
    }
    .scattercontainerToolTip{
        border: 1px solid;
        border-color: blueviolet;
        box-shadow:1px 1px;
        margin-bottom: 1rem;
        /*width: 310px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1vw;
        background-color: #144d83;*/
    }
    .scattertoolTipText{
        font-family: 'Merriweather',serif;
        font-size: .65rem;
        text-align: justify;
        color: darkslategrey;
        word-wrap: break-word;
        font-weight: 500;
    }
    .containerScatter{
        /* background-color: #144d83; */
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;  
    }
    .scattercontainerChart{
        margin: 1 auto;
    }
}
@media only screen and (min-width:768px){
    .Axis path,
    .Axis line {
      /*stroke: #E0E0E0;*/
      stroke: darkslategrey;
    }
    .Axis text {
        font-size: 7px;
        fill: darkslategrey;
        font-weight: 600;
    }
    .Axis-Bottom text {
        /* transform: rotate(-45deg);  */
        transform: rotate(-45deg); 
        text-anchor: end;
        font-weight: 600;
    }
    .scatterText{
        font-size: 0.7rem;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: darkslategrey;
        font-weight: 500;
        overflow-wrap: break-word;
    }
    .scatterTitle{
        font-size: .75rem;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: darkslategrey;
        font-weight: 500;
    }
    .scatterPreload{
        font-family: 'Merriweather',serif;
        font-size: .7rem;
        text-align: center;
        color: darkslategrey;
        font-weight: 600;
    }
    .scattercontainerToolTip{
        margin: 1rem;
        border: 1px solid;
        border-color: blueviolet;
        box-shadow:1px 1px;
        margin-bottom: 1rem;
        /*width: 310px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1vw;
        background-color: #144d83;*/
    }
    .scattertoolTipText{
        font-family: 'Merriweather',serif;
        font-size: .65rem;
        text-align: justify;
        color: darkslategrey;
        word-wrap: break-word;
        font-weight: 500;
    }
    .containerScatter{
        /* background-color: #144d83; */
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;  
    }
    .scattercontainerChart{
        margin: 1 auto;
    }
}
@media only screen and (min-width:992px){
    .Axis path,
    .Axis line {
      /*stroke: #E0E0E0;*/
      stroke: darkslategrey;
    }
    .Axis text {
        font-size: 10px;
        fill: darkslategrey;
        font-weight: 800;
    }
    .Axis-Bottom text {
        /* transform: rotate(-45deg);  */
        transform: rotate(-45deg); 
        text-anchor: end;
        font-weight: 600;
    }
    .scatterText{
        font-size: 0.75rem;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: darkslategrey;
        font-weight: 600;
    }
    .scatterTitle{
        font-size: .90rem;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: darkslategrey;
        font-weight: 800;
    }
    .scatterPreload{
        font-family: 'Merriweather',serif;
        font-size: 1.5rem;
        text-align: center;
        color: darkslategrey;
        font-weight: 800;
    }
    .scattercontainerToolTip{
        width: 8em;
        border: 1px solid;
        border-color: blueviolet;
        box-shadow:2px 2px;
        margin-left: 2rem;
        /* width: 310px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1vw; */
        /*background-color: #144d83;*/
    }
    .scattertoolTipText{
        font-family: 'Merriweather',serif;
        font-size: .65rem;
        text-align: justify;
        color: darkslategrey;
        word-wrap: break-word;
        font-weight: 500;
    }
    .containerScatter{
        /* background-color: #144d83; */
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
    .scattercontainerChart{
        margin: 1 auto;
    }
}