.containerHeatChart{
  margin: 1 auto;
}
.containerHeatToolTip{
  /* margin-left: 2vw;
  width: 8vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: 1px solid;
  border-color:#dcd0c0;
  box-shadow:1px 1px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.Axis path,
  .Axis line {
    /*stroke: #E0E0E0;*/
    stroke: darkslategrey;
}
@media  only screen and (max-width: 600px){
  
  .Axis text {
    font-size: 6px;
    fill: darkslategrey;
    font-weight: 300;
  }
  .Axis-Bottom text {
    /* transform: rotate(-45deg);  */
    transform: rotate(-45deg); 
    text-anchor: end;
  }
  .Axis-Right text{
    font-size: 5px;
    fill: darkslategrey;
    font-weight: 300;
  }
  .containerHeat{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: rgba(61, 58, 56, 0.212);*/
    padding: 1vw 1vh;
  /* margin: 0 auto; */
  }

  .heatTitle{
    font-size: .5rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: darkslategrey;
    font-weight: 300;
    padding-bottom: 2vh;
  }
  .heatPreloader{
    font-size: .55rem;
    text-align: center;
    font-weight: 300;
    font-family: 'Merriweather', serif;
  }
  .containerColors{
    /* width: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-right: 1vw; */
    width: 90%;
    padding-bottom: .5rem;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* display: inline-flex; */
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

  }
  .firstLabel{
    background-color: #5e4fa2;
    color: white;
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .secondLabel{
    background-color: #3288bd;
    color: white;
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .thirdLabel{
    background-color: #66c2a5;
    color: white;
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .fourthLabel{
    background-color: #abdda4;
    color: rgba(112, 91, 63,0.85);
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .fithLabel{
    background-color: #e6f598;
    color: rgba(112, 91, 63,0.85);
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .sixthLabel{
    background-color: #ffffbf;
    color: rgba(112, 91, 63,0.85);
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .seventhLabel{
    background-color: #fee08b;
    color: rgba(112, 91, 63,0.85);
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .eightLabel{
    background-color: #fdae61;
    color: rgba(112, 91, 63,0.85);
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .tenLabel{
    background-color: #f46d43;
    color: white;
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .elevenLabel{
    background-color: #d53e4f;
    color: white;
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .twelveLabel{
    background-color: #9e0142;
    color: white;
    width: 15px;
    height: 20px;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }
  .heatcontainerToolTip{
     /*display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 58, 56, 0.212); 
    margin-left: 2vw;
    width: 10vw;*/
    border: 1px solid;
    border-color:#dcd0c0;
    box-shadow:1px 1px;
    margin-bottom: 1rem;
  }
  .heattooltipText{
    font-family: 'Merriweather',serif;
    font-size: .5rem;
    text-align: justify;
    color: darkslategrey;
    word-wrap: break-word;
    font-weight: 300;
    padding: 2px 2px 2px 2px;
  }
}
@media only screen and (min-width: 600px){
  .Axis path,
  .Axis line {
    /*stroke: #E0E0E0;*/
    stroke: darkslategrey;
  }

  .Axis text {
    font-size: 7px;
    font-weight: 400;
    fill: darkslategrey;

  }
  .Axis-Right text {
    /* transform: rotate(-45deg);  */
    transform: rotate(20deg); 
    text-anchor: end;
  }
  .containerHeat{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;  
  }
  
  .heatTitle{
    font-size: .65rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: darkslategrey;
    font-weight: 400;
  }
  .heatPreloader{
    font-family: 'Merriweather',serif;
    font-size: .65rem;
    text-align: center;
    color: darkslategrey;
    font-weight: 400;
  }
  .containerColors{
    /* width: 4vw; */
    margin-left: 1vw;
    margin-right: 1vw;
    padding-right: 1vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .firstLabel{
    background-color: #5e4fa2;
    color: white;
    width: 25px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .secondLabel{
    background-color: #3288bd;
    color: white;
    width: 25px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .thirdLabel{
    background-color: #66c2a5;
    color: white;
    width: 25px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .fourthLabel{
    background-color: #abdda4;
    color: rgba(112, 91, 63,0.65);
    width: 25px;
    height:20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .fithLabel{
    background-color: #e6f598;
    color: rgba(112, 91, 63,0.65);
    width: 25px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .sixthLabel{
    background-color: #ffffbf;
    color: rgba(112, 91, 63,0.65);
    width: 25px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .seventhLabel{
    background-color: #fee08b;
    color: rgba(112, 91, 63,0.65);
    width: 25px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .eightLabel{
    background-color: #fdae61;
    color: rgba(112, 91, 63,0.65);
    width: 25px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .tenLabel{
    background-color: #f46d43;
    color: white;
    width: 30px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .elevenLabel{
    background-color: #d53e4f;
    color: white;
    width: 30px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .twelveLabel{
    background-color: #9e0142;
    color: white;
    width: 30px;
    height: 20px;
    font-size: .85rem;
    text-align: center;
    font-weight: 400;
  }
  .heatcontainerToolTip{
    /*display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: rgba(61, 58, 56, 0.212);
    margin-left: 2vw;
    width: 10vw; */
    border: 1px solid;
    border-color:#dcd0c0;
    box-shadow:1px 1px;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .heattooltipText{
    font-family: 'Merriweather',serif;
    font-size: .65rem;
    text-align: justify;
    color: darkslategrey;
    word-wrap: break-word;
    font-weight: 400;
    padding: 2px 2px 2px 2px;
  }
}
@media only screen and (min-width:768px){
  

  .Axis text {
    font-size: 7px;
    /* font-weight: 500; */
    fill: darkslategrey;
  }
  .Axis-Left Right {
    /* transform: rotate(-45deg);  */
    transform: rotate(20deg); 
    text-anchor: end;
  }
  .containerHeat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    /*background-color: rgba(61, 58, 56, 0.212);*/
    padding: 1vw 1vh;
  /* margin: 0 auto; */
  }
  .containerHeatToolTip{
    margin-left: 2vw;
    width: 8vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heatTitle{
    font-size: .75rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: darkslategrey;
    font-weight: 500;
  }
  .heatPreloader{
    font-family: 'Merriweather',serif;
    font-size: .7rem;
    text-align: center;
    color: darkslategrey;
    font-weight: 500;
  }
  .containerColors{
    /* width: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-right: 1vw; */
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 1.06rem;
  }
  .firstLabel{
    background-color: #5e4fa2 ;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .secondLabel{
    background-color: #3288bd;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .thirdLabel{
    background-color: #66c2a5;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .fourthLabel{
    background-color: #abdda4;
    color: rgba(112, 91, 63,0.65);
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .fithLabel{
    background-color: #e6f598;
    color: rgba(112, 91, 63,0.65);
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .sixthLabel{
    background-color: #ffffbf;
    color: rgba(112, 91, 63,0.65);
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .seventhLabel{
    background-color: #fee08b;
    color: rgba(112, 91, 63,0.65);
   width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .eightLabel{
    background-color: #fdae61;
    color: rgba(112, 91, 63,0.65);
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .tenLabel{
    background-color: #f46d43;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .elevenLabel{
    background-color: #d53e4f;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .twelveLabel{
    background-color: #9e0142;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 0.85em;
  }
  .heatcontainerToolTip{
     /*display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 58, 56, 0.212); */
    border: 1px solid;
    border-color:#dcd0c0;
    box-shadow:1px 1px;
    margin-left: 1rem;
    margin-bottom: 1rem;

    /* margin-left: 2vw;
    width: 10vw; */
  }
  .heattooltipText{
    font-family: 'Merriweather', serif;
    font-size: 0.7rem;
    text-align: center;
    padding: 2px 2px 2px 2px;
  }
}
@media only screen and (min-width:992px){
  .Axis path,
  .Axis line {
    /*stroke: #E0E0E0;*/
    stroke: darkslategrey;
  }

  .Axis text {
    font-size: 11px;
    fill: darkslategrey;
  }
  .Axis-Right text {
    /* transform: rotate(-45deg);  */
    transform: rotate(20deg); 
    text-anchor: end;
  }
  .containerHeat{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    /*background-color: rgba(61, 58, 56, 0.212);*/
    /*padding: 1vw 1vh;

   margin: 0 auto; */
  }
  .containerHeatChart{
    margin: 1 auto;
  }
  .containerHeatToolTip{
    margin-left: 2vw;
    width: 8vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heatTitle{
    font-size: 1rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* padding-bottom: 2vh; */
  }
  .heatPreloader{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  .containerColors{
    /* width: 4vw; */
    margin-left: 1vw;
    margin-right: 1vw;
    padding-right: 1vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .firstLabel{
    background-color: #5e4fa2 ;
    color: white;
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .secondLabel{
    background-color: #3288bd;
    color: white;
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .thirdLabel{
    background-color: #66c2a5;
    color: white;
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .fourthLabel{
    background-color: #abdda4;
    color: rgba(112, 91, 63,0.65);
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .fithLabel{
    background-color: #e6f598;
    color: rgba(112, 91, 63,0.65);
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .sixthLabel{
    background-color: #ffffbf;
    color: rgba(112, 91, 63,0.65);
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .seventhLabel{
    background-color: #fee08b;
    color: rgba(112, 91, 63,0.65);
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .eightLabel{
    background-color: #fdae61;
    color: rgba(112, 91, 63,0.65);
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .tenLabel{
    background-color: #f46d43;
    color: white;
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .elevenLabel{
    background-color: #d53e4f;
    color: white;
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .twelveLabel{
    background-color: #9e0142;
    color: white;
    width: 35px;
    height: 30px;
    text-align: center;
  }
  .heatcontainerToolTip{
    /*display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: rgba(61, 58, 56, 0.212); 
    margin-left: 2vw;
    width: 10vw;*/
    border: 1px solid;
    border-color:#dcd0c0;
    box-shadow:1px 1px;
    margin-left: 1rem;
    margin-bottom: 1rem;

  }
  .heattooltipText{
    font-family: 'Merriweather', serif;
    font-size: 0.7rem;
    text-align: center;
    padding: 2px 2px 2px 2px;
  }
}