.Axis path,
.Axis line {
  /*stroke: #E0E0E0;*/
  stroke: darkslategrey;
}

.Axis text {
  font-size: 11px;
  fill: darkslategrey;
}
.Axis-Left text {
  /* transform: rotate(-45deg);  */
  transform: rotate(20deg); 
  text-anchor: end;
}
.containerHeat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  /*background-color: rgba(61, 58, 56, 0.212);*/
  padding: 1vw 1vh;
 /* margin: 0 auto; */
}
.containerHeatChart{
  margin: 1 auto;
}
.containerHeatToolTip{
  margin-left: 2vw;
  width: 8vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heatTitle{
  font-size: 1rem;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding-bottom: 2vh;
}
.heatPreloader{
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.containerColors{
  width: 4vw;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-right: 1vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.firstLabel{
  background-color: #5e4fa2 ;
  color: white;
  width: 35px;
  height: 30px;
  text-align: center;
}
.secondLabel{
  background-color: #3288bd;
  color: white;
  width: 35px;
  height: 30px;
  text-align: center;
}
.thirdLabel{
  background-color: #66c2a5;
  color: white;
  width: 35px;
  height: 30px;
  text-align: center;
}
.fourthLabel{
  background-color: #abdda4;
  color: rgba(112, 91, 63,0.65);
  width: 35px;
  height: 30px;
  text-align: center;
}
.fithLabel{
  background-color: #e6f598;
  color: rgba(112, 91, 63,0.65);
  width: 35px;
  height: 30px;
  text-align: center;
}
.sixthLabel{
  background-color: #ffffbf;
  color: rgba(112, 91, 63,0.65);
  width: 35px;
  height: 30px;
  text-align: center;
}
.seventhLabel{
  background-color: #fee08b;
  color: rgba(112, 91, 63,0.65);
  width: 35px;
  height: 30px;
  text-align: center;
}
.eightLabel{
  background-color: #fdae61;
  color: rgba(112, 91, 63,0.65);
  width: 35px;
  height: 30px;
  text-align: center;
}
.tenLabel{
  background-color: #f46d43;
  color: white;
  width: 35px;
  height: 30px;
  text-align: center;
}
.elevenLabel{
  background-color: #d53e4f;
  color: white;
  width: 35px;
  height: 30px;
  text-align: center;
}
.twelveLabel{
  background-color: #9e0142;
  color: white;
  width: 35px;
  height: 30px;
  text-align: center;
}
.heatcontainerToolTip{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(61, 58, 56, 0.212); */
  margin-left: 2vw;
  width: 10vw;
}
.heattooltipText{
  font-family: 'Merriweather', serif;
  font-size: 0.7rem;
  text-align: center;
  padding: 2px 2px 2px 2px;
}