.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 11px;
  fill: black;
}
.scatterText{
    text-align: center;
    font-size: 0.75rem;
    font-family: 'Merriweather', serif;
}
.scatterTitle{
    text-align: center;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
}
.scatterPreload{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Merriweather',serif;
}
.containerToolTip{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
}
.toolTipText{
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
    text-align: center;
    padding-left: 1vw;
}
.containerScatter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.containerChart{
    margin: 1 auto;
}