.containerIndex{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: baseline;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    background-color: #fff;
}
.textContainer{
    text-align: center;
    font-size: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.textIndex{
    font-size: 2rem;
    text-align: center;
}
