.projects{
    width:90%;
    height: 90%;
    margin: 1.0875rem 1.0875rem 1.45rem;
    padding: 1.0875rem 1.0875rem 1.45rem;
    background: #fff;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
  
}

.boxIndex{
    width: 150px;
    height: 200px;
    padding: 0px 1.0875rem 1.45rem;
    -webkit-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    -moz-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
}
.textContainer{
    text-align: center;
    font-size: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.textIndex{
    font-size: 2rem;
    text-align: center;
}
