.node {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: rgba(24, 48, 92, 0.39);
    fill-opacity: 0.8;
  }
  
  .link {
    stroke: #999;
    stroke-opacity: 1;
  }
  .label {
    font-size: 10px;
    color: rgba(24, 48, 92, 0.39);
  }
  .preloadText{
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    text-align:center;

  }
  .containerTooltip{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    -moz-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
  }
  .tooltipInfo{
    width: 80vmax;
    background-color: #efefef;
    color: #666161;
    
  }
  .tooltipText{
    font-family: 'Merriweather', serif;
    font-size: 0.9rem;
    text-align: center;
    color: #666161;
  }
  .containerForce{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    background-color: #efefef;
    
  }
  .forceGraph{
    padding-top: 2vh;
    padding-right: 2vw;
    margin-right: 2vw;
    margin-top:2vh;
    background-color: #efefef;
  }
  .imgToolTip{
    width: 40px;
    height: 40px;
    position: relative;
    /* top: 50%;
    left: 30%;  */
    top: 2%;
    left: 30%;
    border: 1px rgba(24, 48, 92, 0.39);
    padding-top: 2vh;
    padding-bottom: 4vh;
  }
  .toggleInfo{
    max-width: 250px;
    margin: 0 auto;
  }
  .title{
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    text-align: justify;
    color:#666161
  }