.node {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: rgba(24, 48, 92, 0.39);
  fill-opacity: 0.8;
}

.link {
  stroke: #999;
  stroke-opacity: 1;
}
.tooltipText {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  text-align: center;
  color: #666161;
  line-height: 10px;
}

.forceGraph {
  margin: 1 auto;
}

.imgToolTip {
  width: 20px;
  height: 20px;
  margin:0.85rem 0.2rem;
}

.containerTooltip {
  margin: 0 .45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@media only screen and (max-width: 600px) {
  .title {
    font-family: 'Merriweather', serif;
    font-size: .6rem;
    text-align: center;
    color: #666161;
    font-weight: 400;
  }
  .tooltipText {
    font-family: 'Merriweather', serif;
    font-size: 10px;
    text-align: center;
    color: #666161;
    line-height: 10px;
  }
  .containerForce {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

}

@media only screen and (min-width: 600px) {
  .title {
    font-family: 'Merriweather', serif;
    font-size: .75rem;
    text-align: center;
    color: #666161;
    font-weight: 500;
  }
  .tooltipText {
    font-family: 'Merriweather', serif;
    font-size: 11px;
    text-align: center;
    color: #666161;
    line-height: 11px;
  }
  .containerForce {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

}

@media only screen and (min-width:768px) {
  .title {
    font-family: 'Merriweather', serif;
    font-size: .85rem;
    text-align: center;
    color: #666161;
    font-weight: 600;
  }
  .tooltipText {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    text-align: center;
    color: #666161;
    line-height: 10px;
  }

  .containerForce {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width:992px) {
  .title {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    text-align: center;
    color: #666161;
    font-weight: 500;
  }
  .tooltipText {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    text-align: center;
    color: #666161;
    line-height: 10px;
  }
  .containerForce {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}