.node {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: rgba(24, 48, 92, 0.39);
  fill-opacity: 0.8;
}

.link {
  stroke: #999;
  stroke-opacity: 1;
}
.label {
  font-size: 10px;
  color: rgba(24, 48, 92, 0.39);
}
.tooltipText{
  font-family: 'Merriweather', serif;
  font-size: 0.9rem;
  text-align: center;
  color: #666161;
}

.forceGraph{
  margin: 1 auto;
}
.imgToolTip{
  width: 40px;
  height: 40px;
  position: relative;
  top: 2%;
  left: 50%;
  border: 1px rgba(24, 48, 92, 0.39);
  padding-top: 2vh;
  padding-bottom: 4vh;
}
.containerTooltip{
  
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
  -moz-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
  box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
}
@media  only screen and (max-width: 600px){
  .title{
    font-family: 'Merriweather', serif;
    font-size: .6rem;
    text-align: center;
    color:#666161;
    font-weight: 400;
  }
 
  .tooltipText{
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    font-family: 'Merriweather', serif;
    font-size: 0.5rem;
    text-align: center;
    color: #666161;
    font-weight: 200;
    word-wrap: break-word;
    
  }
  .containerForce{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }
  .containerTooltip{
    position: relative;
    top: 2%;
    left: 10%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    -moz-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    
  }
  
}
@media only screen and (min-width: 600px){
  .title{
    font-family: 'Merriweather', serif;
    font-size: .75rem;
    text-align: center;
    color:#666161;
    font-weight: 500;
  }
  .tooltipText{
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    font-family: 'Merriweather', serif;
    font-size: 0.65rem;
    text-align: center;
    color: #666161;
    font-weight: 500;
  }
  .containerForce{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }
  .tooltipText{
    font-family: 'Merriweather', serif;
    font-size: 0.85rem;
    text-align: center;
    color: #666161;
    font-weight: 500;
    padding: .85rem .85rem .85rem .85rem;
  }
  .containerTooltip{
    position: relative;
    top: 2%;
    left: 10%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    -moz-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
  }
}
@media only screen and (min-width:768px){
  .title{
    font-family: 'Merriweather', serif;
    font-size: .85rem;
    text-align: center;
    color:#666161;
    font-weight: 600;
  }

  .tooltipText{
    font-family: 'Merriweather', serif;
    font-size: 0.85rem;
    text-align: center;
    color: #666161;
    font-weight: 500;
    padding: .85rem .85rem .85rem .85rem;
  }
  .containerTooltip{
    position: relative;
    top: 2%;
    left: 10%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    -moz-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
  }
  .containerForce{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap; 
  }
}
@media only screen and (min-width:992px){
  .title{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    text-align: center;
    color:#666161;
    font-weight: 500;
  }

  .tooltipText{
    font-family: 'Merriweather', serif;
    font-size: 0.75rem;
    text-align: center;
    color: #666161;
    font-weight: 500;
  }
  .containerForce{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap; 
  }
  .tooltipText{
    font-family: 'Merriweather', serif;
    font-size: 0.85rem;
    text-align: center;
    color: #666161;
    font-weight: 500;
    padding: .85rem .85rem .85rem .85rem;
  }
  .containerTooltip{
    position: relative;
    top: 2%;
    left: 20%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    -moz-box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
    box-shadow:  3px 0px 5px 0px rgba(69,77,89,1);
  }
}