
.footerText{
    color: #f4f4d4;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Mukta Mahee';
}
.foots{
    background: #373737;
    padding: 1.15rem 1.0875rem;
}
@media only screen and (min-width: 600px){
    .footerText{
        text-align: center;
        font-size: .75rem;
        font-family: 'Mukta Mahee';
        font-weight: 200;
    }
}
@media screen and (max-width:600px){
    .footerText{
        text-align: center;
        font-size: .85rem;
        font-family: 'Mukta Mahee';
        font-weight: 300;
    }
}
@media only screen and (min-width:768px){
    .footerText{
        text-align: center;
        font-size: 1rem;
        font-family: 'Mukta Mahee';
        font-weight: 300;
    }
}
@media only screen and (min-width:992px){
    .footerText{
        text-align: center;
        font-size: 1.2rem;
        font-family: 'Mukta Mahee';
        font-weight: 300;
    }
}
